body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/***********************************************************************************************************************
**************************************---------------TITLE SECTION--------------*****************************************
*************************************************************************************************************************/
h1{
  line-height: 1.5;
}
#title{
  background-color: #fed049;
  color: #fff;
}

.header-text{
  text-align: left;
  font-size: 4rem;
}
.button{
  font-family: 'Ubuntu', sans-serif;
}
.container-fluid{
  padding: 3% 15% 0;
}
.title-image{
  width:300px;
  transform: rotate(25deg);
  margin-left: 10px;
  position: relative;
}

                                                      /* Navigation Bar */
.navbar{
  padding: 0 0 3.5rem 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}
.nav-item{
  padding: 0 8px;
}
.nav-link{
  font-family: 'Montserrat-Light';
  font-size: 1.5rem;
}
.download-button{
  margin: 0 3% 5% 0;
}
.iconn{
    margin: 10px;
}



/***********************************************************************************************************************
**************************************---------------FEATURE SECTION--------------*****************************************
*************************************************************************************************************************/
h3{
  font-weight: 1.5rem;
  padding: 1%;
}
p{
  color: #8f8f8f;
}
#features{
  padding: 5%;
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.feature-box{
  padding: 2%;
}
.fas{
  color: #ffab73;
  padding: 4%;
  /* width: 15%; */
}
.fas:hover{
  color: #f58634 ;
}


/***********************************************************************************************************************
**************************************---------------TESTIMONIAL SECTION--------------*****************************************
*************************************************************************************************************************/
h2{
  font-family: 'Montserrat';
  font-size: 2.5rem;
  line-height: 1.5;
}
#testimonials{
  padding: 7% 7% 0 7%;
  background-color: #ffab73;
  color: #fff;
}
.testimonial-image{
  border-radius: 100%;
  width: 5%;
  margin: 10px;
}
.carousal-item{
    padding: 7% 7% 0 7%;
}
.testimonial-text{
  padding: 0 10% ;
}


/***********************************************************************************************************************
**************************************---------------PRESS SECTION--------------*****************************************
*************************************************************************************************************************/
#press{
  background-color: #ffab73;
  padding: 2%;
}
.press-logo{
  width: 10%;
  margin: 20px 20px 20px;
}



/***********************************************************************************************************************
**************************************---------------PRICING SECTION--------------*****************************************
*************************************************************************************************************************/
#pricing{
  padding: 5% 10%;
}
.column-pricing{
  padding: 3% 2%;
}
 .offer{
  font-family: "Montserrat-Light", Ubuntu;
 }
 .offer .intro{
   font-size: 2rem;
 }

/***********************************************************************************************************************
**************************************---------------CTA SECTION--------------*****************************************
*************************************************************************************************************************/
#cta{
    background-color: #fed049;
    margin-top: 0;
    padding: 0 10%;
}
.footer-class{
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  padding-top:100px;
}


/***********************************************************************************************************************
**************************************---------------FOOTER SECTION--------------*****************************************
*************************************************************************************************************************/

#footer{
  padding: 2%;
  background-color: #fff;
}
#footer .offer{
  margin: 20px;
}


/***********************************************************************************************************************
  **************************************---------RESPONSIVE PHONE VIEW---------*****************************************
*************************************************************************************************************************/
@media (max-width : 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0deg);
    padding: 20px;
  }
}
